.sb {
    padding-left: 100px;
    padding-right: 100px;
}

.main {
    background-color: #f5f5f5;
}

.filterfsnpsrs {
    width: 250px;
    height: fit-content;
}

hl {
    background-color: black;
}

.ca:hover {
    box-shadow: gray 0 0 5px;
    cursor: pointer;
}

.li {
    width: 82%;
}