.bgImage {
    width: 100%;
    z-index: -2;
}

.text-large {
    font-size: 50px;
    line-height: 55px;
}

.sect {
    margin-top: 15%;
    margin-left: 10%;
    width: 600px;
}

.secbg {
    z-index: -1;
    opacity: .5;
    background-color: black;
}

.tsml {
    font-size: 20px;
    font-weight: 400;
}