.de {
    font-size: 15px;
    line-height: 1.25;
    height: 55px;
    overflow: hidden;
}

.clickMe:hover {
    box-shadow: gray 0 0 5px;
    cursor: pointer;
}

.clickMe {
    border-bottom: #bebebe 2px solid;
}

.pn {
    height: 60px;
    overflow: hidden;
}