.cursor-pointer {
    cursor: pointer;
}

.btn-main {
    font-size: 17px;
}

p {
    cursor: default;
}

.de {
    font-size: 15px;
    line-height: 1.25;
    height: 55px;
    overflow: hidden;
}

.clickMe:hover {
    box-shadow: gray 0 0 5px;
    cursor: pointer;
}

.clickMe {
    border-bottom: #bebebe 2px solid;
}

.spli div:hover {
    transition-duration: .5s;
    background-color: #f1f1f1;
}

.plat-sel > div {
    display: flex;
    padding: 10px;
}

.plat-sel * {
    margin-top: auto;
    margin-bottom: auto;
}

.d4 {
    width: 260px;
}

.spd div {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.spd div:hover {
    cursor: pointer;
    transition-duration: .5s;
    background-color: #f1f1f1;
}

.footer {
    color: black;
    background: white;
    width: 100%;
    padding: 15px 50px;
}

.spseD {
    height: 100%;
}

.spd a:hover {
    text-decoration: none;
}

.pdSp {
    margin-left: 5px;
}

.pdC {
    margin-left: 5px;
}

.p {
    font-size: 15px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox] {
    margin-left: 5px;
    margin-right: 10px;
}

.f1 {
    width: 400px;
}

.tcp select {
    width: 100%;
}

#files {
    width: 350px;
}